<hr>

<div class="row col-xs-12">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://www.ruqayah.net/pic/1439/5-Jumada1/daar-quran-t2-12.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">کلاس استاد کعبی</h5>
    <p class="card-text">حفظ قرآن </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">سید محمد تقی آل حسن</li>
    <li class="list-group-item">سید شبر</li>
    <li class="list-group-item">مرتضی السالم</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">جزئیات</a>
    <a href="#" class="card-link">ویرایش</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://www.ruqayah.net/pic/1439/5-Jumada1/daar-quran-t2-6.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">کلاس استاد دهنوی</h5>
    <p class="card-text">کلاس حفظ قرآن </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">حسین اسدی</li>
    <li class="list-group-item">سید أحمد السلمان</li>
    <li class="list-group-item">باقر الحداد</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">جزئیات</a>
    <a href="#" class="card-link">ویرایش</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://www.ruqayah.net/pic/1439/5-Jumada1/daar-quran-t2-8.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">کلاس استاد وفائی</h5>
    <p class="card-text">کلاس حفظ قرآن </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">علی الحداد</li>
    <li class="list-group-item">حبیب آل یعقوب</li>
    <li class="list-group-item">سید علی علوان</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">جزئیات</a>
    <a href="#" class="card-link">ویرایش</a>
  </div>
</div>

</div>
